#section2 {
  background: url("../assets/poster.jpg") no-repeat center center;
  background-size: cover;
}

#section0 div {
  color: white;
  text-align: center;
  font-size: 2rem;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-image: /* our video */ ;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
}
